option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "Andromeda.settings"
    "PYTHONPATH": "/opt/python/current/app/Andromeda:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: Andromeda/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"